asn1crypto==0.24.0
astroid==1.6.6
attrs==19.3.0
autopep8==1.5.3
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.0
certifi==2019.11.28
chardet==3.0.4
Cheetah==2.4.4
clarifai==2.6.2
click==7.1.1
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
defusedxml==0.5.0
dj-database-url==0.5.0
djangorestframework==3.9.4
EasyProcess==0.2.9
emoji==0.5.4
enum34==1.1.10
fake-useragent==0.1.11
flake8==3.8.3
Flask==1.1.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
googleapis-common-protos==1.51.0
grpcio==1.26.0
gunicorn==19.10.0
gyp==0.1
idna==2.8
importlib-metadata==1.7.0
instapy==0.5.8
instapy-chromedriver==2.46
ipaddr==2.2.0
ipaddress==1.0.17
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.1
jsonschema==3.2.0
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.5.1
libvirt-python==4.0.0
MarkupSafe==1.1.1
mccabe==0.6.1
MeaningCloud-python==1.2.1
more-itertools==5.0.0
parso==0.7.1
pathlib2==2.3.5
pluggy==0.13.1
plyer==1.4.2
protobuf==3.11.2
pycairo==1.16.2
pycodestyle==2.6.0
pycrypto==2.6.1
pydocstyle==3.0.0
pyflakes==2.2.0
pygobject==3.26.1
pyliblzma==0.5.3
pylint==1.9.5
pyOpenSSL==17.5.0
pyrsistent==0.15.7
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
PyVirtualDisplay==0.2.5
pyxdg==0.25
PyYAML==5.3
regex==2020.1.8
requests==2.22.0
rope==0.17.0
scandir==1.10.0
SecretStorage==2.3.1
selenium==3.141.0
singledispatch==3.4.0.3
six==1.15.0
snowballstemmer==2.0.0
SOAPpy==0.12.22
soupsieve==1.9.5
toml==0.10.1
typing==3.7.4.3
ujson==1.35
urllib3==1.25.8
Werkzeug==1.0.1
wrapt==1.12.1
wstools==0.4.3
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yapf==0.30.0
zipp==1.2.0
