{% extends 'homepage/base.html' %}
{% load static %}
{% block body %}


<div class="container-menu-desktop">
    <div class="topbar">
        <div class="content-topbar container h-100">
            <div class="left-topbar">
                <a class="navbar-brand pt-1" href="{% url 'homepage' %}">
                    <img src="{% static 'homepage/icons/logo.png' %}" width="50" height="50"
                         alt="" loading="lazy">
                    <span class="text-white">Snack Time News</span>
                </a>
                <span class="left-topbar-item flex-wr-s-c">
							<span>
								Chennai, IN
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'homepage/icons/icon-night.png' %}" alt="IMG">

							<span>
								HI {{high}}° LO {{low}}°

							</span>
						</span>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout'  %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
                {% else %}
                <a href="{% url 'login' %}" class="left-topbar-item">
                    Log in
                </a>

                <a href="{% url 'signup' %}" class="left-topbar-item">
                    Sign up
                </a>
                {% endif %}

                <a href="#" class="left-topbar-item">
                    Contact
                </a>

                <a href="#" class="left-topbar-item">
                    About
                </a>
            </div>


            <div style="display: flex; justify-content: center;" class="">
                <form method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                        <input required class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search"
                               placeholder="Search">
                        <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="right-topbar">

                <a href="{% url 'saved_list' %}">
                    <span>Saved</span>
                </a>

                <a href="#">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="#">
                    <span class="fab fa-twitter"></span>
                </a>

                <a href="#">
                    <span class="fab fa-pinterest-p"></span>
                </a>

                <a href="#">
                    <span class="fab fa-vimeo-v"></span>
                </a>

                <a href="#">
                    <span class="fab fa-youtube"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="index.html"><img src="{% static 'homepage/icons/logo.png' %}" alt="IMG-LOGO"></a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="menu-mobile">
        <ul class="topbar-mobile">
            <li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								New York, NY
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'homepage/icons/icon-night.png' %}" alt="IMG">

							<span>
								HI 58° LO 56°
							</span>
						</span>
            </li>

            <li class="left-topbar">
                <a href="#" class="left-topbar-item">
                    About
                </a>

                <a href="#" class="left-topbar-item">
                    Contact
                </a>

                <a href="{% url 'signup' %}" class="left-topbar-item">
                    Sign up
                </a>

                <a href="{% url 'login' %}" class="left-topbar-item">
                    Log in
                </a>
            </li>

            <li class="right-topbar">

                <a href="{% url 'saved_list' %}">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="#">
                    <span class="fab fa-facebook-f"></span>
                </a>

                <a href="#">
                    <span class="fab fa-twitter"></span>
                </a>

                <a href="#">
                    <span class="fab fa-pinterest-p"></span>
                </a>

                <a href="#">
                    <span class="fab fa-vimeo-v"></span>
                </a>

                <a href="#">
                    <span class="fab fa-youtube"></span>
                </a>
            </li>
        </ul>

        <ul class="main-menu-m">
            <li>
                <a href="index.html">Home<i class="arrow right"></i></a>
                <ul class="sub-menu-m">
                    <li><a href="index.html">Homepage v1</a></li>
                    <li><a href="home-02.html">Homepage v2</a></li>
                    <li><a href="home-03.html">Homepage v3</a></li>
                </ul>

                <span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
            </li>

            <li>
                <a href="category-01.html">News</a>
            </li>

            <li>
                <a href="category-02.html">Entertainment </a>
            </li>

            <li>
                <a href="category-01.html">Business</a>
            </li>

            <li>
                <a href="category-02.html">Travel</a>
            </li>

            <li>
                <a href="category-01.html">Life Style</a>
            </li>

            <li>
                <a href="category-02.html">Video</a>
            </li>

            <li>
                <a href="#">Features</a>
                <ul class="sub-menu-m">
                    <li><a href="category-01.html">Category Page v1</a></li>
                    <li><a href="category-02.html">Category Page v2</a></li>
                    <li><a href="blog-grid.html">Blog Grid Sidebar</a></li>
                    <li><a href="blog-list-01.html">Blog List Sidebar v1</a></li>
                    <li><a href="blog-list-02.html">Blog List Sidebar v2</a></li>
                    <li><a href="blog-detail-01.html">Blog Detail Sidebar</a></li>
                    <li><a href="blog-detail-02.html">Blog Detail No Sidebar</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>

                <span class="arrow-main-menu-m">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}