{% extends 'homepage/base.html' %}
{% load static %}
{% block body %}


<header>
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar container h-100">
                <div class="left-topbar">
                    <a class="navbar-brand pt-1" href="{% url 'homepage' %}">
                        <img src="{% static 'homepage/icons/logo.png' %}" width="50" height="50"
                             alt="" loading="lazy">
                        <span class="text-white">Snack Time News</span>
                    </a>
                    <span class="left-topbar-item flex-wr-s-c">
							<span>
								Chennai, IN
							</span>

							<img class="m-b-1 m-rl-8" src="{% static 'homepage/icons/icon-night.png' %}" alt="IMG">

							<span>
								HI {{high}}° LO {{low}}°

							</span>
						</span>
                    {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout'  %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="left-topbar-item">
                        Log in
                    </a>

                    <a href="{% url 'signup' %}" class="left-topbar-item">
                        Sign up
                    </a>
                    {% endif %}

                    <a href="#" class="left-topbar-item">
                        Contact
                    </a>

                    <a href="{% url 'about' %}" class="left-topbar-item">
                        About
                    </a>
                </div>


                <div style="display: flex; justify-content: center;" class="">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                            <input required class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search"
                                   placeholder="Search">
                            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <a href="{% url 'saved_list' %}" class="left-topbar-item">
                    <h5>Saved</h5>
                </a>
            </div>
        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="{% url 'homepage' %}"><img width="30" height="30" src="{% static 'homepage/icons/logo.png' %}"
                                                    alt="IMG-LOGO"> </a>
            </div>
            <!-- Button show menu -->
            <div class="hamburger hamburger--squeeze m-r--8" onload="$('.menu-mobile').toggle();">
					<span onclick="$('.menu-mobile').toggle();" class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
            </div>
        </div>
        <!-- Menu Mobile -->
        <div class="menu-mobile animate__animated animate__slideInDown" style="display: none;">
            <ul class="topbar-mobile">
                <li class="left-topbar">
						<span class="left-topbar-item flex-wr-s-c">
							<span>
								Chennai, IN
							</span>
							<img class="m-b-1 m-rl-8" src="{% static 'homepage/icons/icon-night.png' %}" alt="IMG">
							<span>
								HI {{high}}° LO {{low}}°
							</span>
						</span>
                </li>
                <li class="left-topbar">
                    <a href="{% url 'about' %}" class="left-topbar-item">
                        About
                    </a>

                    <a href="#" class="left-topbar-item">
                        Contact
                    </a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'saved_list' %}" class="left-topbar-item">
                        Saved
                    </a>
                    <form method="POST" action="{% url 'logout'  %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                    {% else %}
                    <a href="{% url 'login' %}" class="left-topbar-item">
                        Log in
                    </a>

                    <a href="{% url 'signup' %}" class="left-topbar-item">
                        Sign up
                    </a>
                    {% endif %}
                </li>
                <div style="width: 80%;">
                    <form method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
                            <input required class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search"
                                   placeholder="Search">
                            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </div>

                    </form>
                </div>
            </ul>
        </div>
    </div>
</header>
{% endblock %}